---
const liUrl = "https://www.linkedin.com/in/ismael-villalba-serrano-209440229/";
const ghUrl = "https://github.com/minivillalba4";

import liIcon from '../../../assets/icons/linkedin-blog-post-shareicon.svg?raw';
import ghIcon from '../../../assets/icons/github.svg?raw'; // crea este archivo si aún no lo tienes
---

<div class="sw-share group flex items-center gap-2">
  <a href={liUrl} target="_blank" rel="noopener noreferrer" class="sw-share-btn" aria-label="Mi LinkedIn" set:html={liIcon} />
  <a href={ghUrl} target="_blank" rel="noopener noreferrer" class="sw-share-btn" aria-label="Mi GitHub" set:html={ghIcon} />
</div>
